body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    background-color: rgb(29, 29, 185);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.7s;
}

button:hover{
    transform: translateY(-10px);
}

button:active{
    background-color: red;
}


#result{
    font-size: 30px;
    font-weight: bolder;
}